.routes {
    width: 905;
    height: auto;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.route {
    width: 100%;
    display: flex;
    gap: 1px;
    margin: 1px;
    /* background-color: yellow; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

}
.routesTitle{
    color: #CAE8FF;
    margin-block-start: 0;
    margin-block-end: 0;

}
.routeColumn {
    width: 15%;
    height: 2rem;
    background-color: red;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(234, 222, 222, 0.75);
}

.routeName {
    background-color: #CAE8FF;
    width: 80%;
    height: 2rem;
    /* background-color: green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: small;
    border: 5px;
    padding-left: 6px;
    padding-right: 6px;
    box-shadow: 0px 0px 5px 0px rgba(234, 222, 222, 0.75);
}

/* estilos del boton de eliminar */
.deleteButton {
    width: 1.5rem;
    height: 75%;
    background-color: rgba(255, 0, 0, 0.5);
    color: black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px 0px rgba(234, 222, 222, 0.75);
    cursor: pointer;
}

.deleteButton:hover {
    background-color: rgba(255, 0, 0, 0.8);
    transition: background-color 0.5s ease; 
}





