
.navigation{
    width: 100%;
    height: 5vh;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    background-color: #202020;
}

.navigate{
    width: auto;
    height:100%;
    display: flex; 
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding-left: 1rem;

}
.navigateButton{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:5px; ;
    background-color:#808080 ;
    box-shadow: 0px 0px 5px 0px rgba(234, 222, 222, 0.75);
    cursor: pointer;
    text-decoration: none;
    padding: 1px 7px;
    color: black;
    transition: background-color 0.3s, color 0.3s;
    border: none;
    font-weight: bold;
}
.buttonRojo:hover{
    background-color: rgba(255, 0, 0, 0.8) !important;
    transition: background-color 0.5s ease;
}
.panel{
    color: #ADD8E6;
    font-size: large;
    padding-right:1rem;
}
.navigateButton:hover{
   background-color:#4CAF50 ;
   transition: background-color 0.5s ease;
}