/* 
/* quitalos los stilos por defecto  */
body{
    margin: 0;
    padding: 0;
 
}

.section{
width: 100%;
height: 100vh;
display: flex;
overflow: hidden;
}

.config{
    width: 15%;
    height: 100vh;
    background-color: #202020;
}

.result{    
    padding-left: 5px;
    padding-right: 5px;
    width: 85%;
    height: 100vh;
    background-color:whitesmoke;
    display:grid;
    grid-template-columns: repeat(12,1fr);
    flex-direction: row;
    overflow: hidden;
    align-items: flex-end;
    gap: 2px;
}


/* estilos de la coluna */
.containColumns{
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    align-items: center;
    background-color: #cccccc;
    overflow: hidden;
    gap: 3px;
    margin-top: 2px;

}
/* esto deveria de hacer con javascript o un componete para no repetir tanto codigo  */
.containColumns:nth-child(1){
    height: 54%;
}
.containColumns:nth-child(2){
    height: 60%;
}
.containColumns:nth-child(3){
    height: 64%;

}
.containColumns:nth-child(4){
    height: 70%;
  
}
.containColumns:nth-child(5){
    height: 77%;
   
}
.containColumns:nth-child(6){
    height: 91%;
    
}
.containColumns:nth-child(7){
    height: 92%;

}
.containColumns:nth-child(8){
    height: 93%;

}
.containColumns:nth-child(9){
    height: 94%;

}
.containColumns:nth-child(10){
    height: 96%;

}
.containColumns:nth-child(11){
    height: 98%;

}
.containColumns:nth-child(12){
    height: 100%;
 
}
.column{
    margin-top: 1rem;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 3px;
   
}



.perfil{
    background-color: #CAE8FF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
    width: 95%;
    border-radius: 10px ;
    overflow: hidden;
    cursor: pointer;
}
.perfilName{
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
}

.idColumn{
    width:98%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
}

 


.moving{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    border-radius: 10px ;
    background-color: #CAE8FF;
}
