
/* quitalos los stilos por defecto  */
body{
    margin: 0;
    padding: 0;
 
}

.section{
width: 100%;
height: 100vh;
display: flex;
overflow: hidden;
}

.config{
    width: 20%;
    height: 100vh;
    /* background-color: #F0F0F0; */
}

.result{    
    width: 80%;
    height: 100vh;
    background-color:#202020;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
}

.column{
    padding: 2px;
    width: 30rem;
    border: whitesmoke solid 1px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    padding-top: 7rem;
}

.perfil{
    background-color:#FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 90%;
    font-size: small;
    border-radius: 1rem ;
    font-family:'Times New Roman';
}

