.profileSelected{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

}

.title{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.select{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    
}